My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋 Welcome to the XYZ estate agengy\nMy Name is Grace, How can I help you",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1552,
        -224
      ],
      "id": "42745e80-cb06-4e1b-b1e5-102b06ddcb51",
      "name": "When chat message received",
      "webhookId": "5b56cd1a-02dd-4f75-852a-7317ce40c221"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "="
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1328,
        -224
      ],
      "id": "9227daa6-2e2b-4e56-ad32-74d3455acf6c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with your data in pinecone vector store",
        "pineconeIndex": {
          "__rl": true,
          "value": "xyz1",
          "mode": "list",
          "cachedResultName": "xyz1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -976,
        -160
      ],
      "id": "611bde06-5135-42e5-a13f-96a00fed1be1",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "etegUBhOBXvkg4d6",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "additionalFields": {
          "attendees": [
            "={{ $(email) }}"
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -1280,
        -32
      ],
      "id": "ce034090-50fb-49e5-81bf-b0d63f9b7af3",
      "name": "Create an event in Google Calendar"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1536,
        -32
      ],
      "id": "08fabd3e-b2ed-476f-ab46-7d337ba6a093",
      "name": "Brain",
      "credentials": {
        "openAiApi": {
          "id": "vNhMuVME7wQe5Px7",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1440,
        -32
      ],
      "id": "2b981886-a9dd-4722-b1de-ca0a6fca7122",
      "name": "Memory"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1120,
        -32
      ],
      "id": "88659a19-4862-4236-8675-6fcf986b09ed",
      "name": "Sheets"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -976,
        16
      ],
      "id": "defea73d-e6a3-42a1-9148-4891c4182954",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "vNhMuVME7wQe5Px7",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": []
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1PCVUBs3Q7ppSdz1AWmoNpmgbv_bbtfAX",
          "mode": "list",
          "cachedResultName": "xy_estate_demo.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1PCVUBs3Q7ppSdz1AWmoNpmgbv_bbtfAX/view?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -176
      ],
      "id": "e6547310-e24a-45a5-9286-10bd91c0b430",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "flLwZFLbkQqRlpEe",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -416,
        -176
      ],
      "id": "d22dbbfb-b74e-46c7-9cf4-fab7caf93af0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "flLwZFLbkQqRlpEe",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "xyz1",
          "mode": "list",
          "cachedResultName": "xyz1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -208,
        -176
      ],
      "id": "a40803b2-b849-4591-b374-00bfee74cfe2",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "etegUBhOBXvkg4d6",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        16
      ],
      "id": "f55606bb-e702-4c37-8515-9e5c3a5e0b5c",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "vNhMuVME7wQe5Px7",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -80,
        32
      ],
      "id": "0430fef7-9c5e-4599-822c-6ec715badfe1",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Brain": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "33eea5e8-8fcf-4a36-8895-a26ce258664b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1512ad494cf1d4ec9d19d4e525392d1196e5931593e659b33daba6e4a5ea559"
  },
  "id": "uioZ2jqoBKnl04Mu",
  "tags": []
}